@model Fiap05.web.mvc.Models.Medico

@{
    ViewBag.Title = "Cadastrar";
}

@Ajudador.Mensagem(TempData["msg"])
<h2>Cadastro de Especialidades</h2>
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.Nome)
        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Especialidade)
        @Html.DropDownListFor(m => m.EspecialidadeId,
             ViewBag.naoLembro as SelectList, new { @class = "form-control"})

    </div>

    @Ajudador.Botao("Cadastrar")
}

