
@model List < Fiap05.web.mvc.Models.Especialidade>
@{
    ViewBag.Title = "Listar";
}
<h2>Listar</h2>
@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}
<table class="table">
    <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Descrição</th>
        
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EspecialidadeId</td>
            <td>@item.Nome</td>
            <td>@item.Descricao</td>
         
            <td>
                <button onclick="codigoEspecialidade.value = @item.EspecialidadeId" type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal">
                    Excluir
                </button>
                @Html.ActionLink("Atualizar","Editar",
                    new { id = item.EspecialidadeId},
                    new { @class = "btn btn-info btn-xs"})
            </td>
        </tr>
    }
</table>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Deseja excluir?</h4>
            </div>
            <div class="modal-body">
                <p>Isso não tem volta...</p>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("excluir", "especialidade"))
                {
                    <input type="hidden" name="id" id="codigoEspecialidade" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-danger">Confirmar</button>
                }
            </div>
        </div>
    </div>
</div>
